###########################################################
# terraform
###########################################################
*.tfstate
*.tfstate.*
*.tfstate.*.backup
*.tfstate.backup
.terraform
.terraform/
.terraform.*
**/.terraform/*

###########################################################
# annoyances
###########################################################
.DS_Store
